<configuration>
	<!-- conversion -->
	<conversionRule conversionWord="clevel" converterClass="de.gmasil.mhw.ctceditor.logging.ColoredLevelConverter" />

	<!-- appenders -->
	<appender name="GUI" class="de.gmasil.mhw.ctceditor.logging.SwingAppender">
	</appender>
	<appender name="CONSOLE" class="de.gmasil.mhw.ctceditor.logging.AnsiAwareConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} [%-14clevel] %boldMagenta(%-20.20logger{20}): %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>mhw-ctc-editor.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %-50.50logger{50}: %msg%n</pattern>
		</encoder>
	</appender>

	<!-- init -->
	<root level="ALL">
		<appender-ref ref="GUI" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
